.wrapper
{
	overflow: auto;
}

img
{
	height:50px;
	width:50px;
}
.nav-bar
{
	float: left;
	padding: 5px 10px;
	margin:10px 50px 100px 10px;
}

.right-panel
{
	float-left;
}
.menu li
{
	padding:5px 0px;
}

.view-window
{
	margin:10px;
}

.header
{
	padding:20px 0px;
}